<a href="https://colab.research.google.com/github/parag-ghungrudkar/Coursera_Capstone/blob/main/Coursera_capstone_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## IBM Data Science Capstone Project
###### The Battle of neighborhood: The business object of this project is to cluster neighborhood with similar venues together. Further explanation will be detailed in this ...placeholder

###Part 1:
Creating a notebook for the project. I am using google colab for the purpose.

In [80]:
#importing the required libraries
import pandas as pd
import numpy as np

In [81]:
#printing the required string
print('Hello capstone project coursera')

Hello capstone project coursera

## Part 2:

1. Created pandas dataframe for the neighborhood in Toronto using web scrapping
2. Found nearby venues for each neighborhood using FourSquare API
3. One hot encoding for categories
4. Clustering analysis of the neighborhood

In [82]:
#importing required libraries
import requests
from bs4 import BeautifulSoup

In [93]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [94]:
Toronto_neighbourhood = pd.read_html(url, match = "Neighbourhood", flavor = 'bs4')[0]

In [85]:
Toronto_neighbourhood['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
East Toronto         5
York                 5
Mississauga          1
Name: Borough, dtype: int64

In [86]:
len(Toronto_neighbourhood['Postal Code'].unique())

180

In [95]:
Toronto_neighbourhood.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [96]:
Toronto_neighbourhood['Borough'].replace('Not assigned', np.NaN, inplace = True)

In [97]:
Toronto_neighbourhood.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [98]:
Toronto_neighbourhood.dropna(axis= 0, inplace=True)

In [99]:
Toronto_neighbourhood.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [100]:
Toronto_neighbourhood.shape

(103, 3)

In [101]:
Toronto_neighbourhood.reset_index(inplace= True, drop = True)

In [102]:
Toronto_neighbourhood.head(103)

    Postal Code  ...                                      Neighbourhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...  Business reply mail Processing Centre, South C...
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [103]:
Toronto_neighbourhood['Neighbourhood'].str.count('Not assigned').sum()

0